.title {
    text-align: center;
    padding-top: 10px;
}

#pic1, #pic2, #pic3, #pic4, #pic5 {
    width: 35%;
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
}

.links {
    text-align: center;
}

#name {
    padding-top: 25px;
    text-align: center;
}

#counter {
    text-align: center;
}

#cat-list {
    text-align: right;
    margin-right: 250px;
}

#cat {
    text-align: left;
    margin-left: 250px;
    margin-top: -120px;
}

#btn-content, #btn-admin {
    text-align: left;
    margin-left: 250px;
}
